<svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
  @switch (name()) {
    @case ('menu') {
      <path d="M4 6h16M4 12h16M4 18h16"></path>
    }
    @case ('settings') {
      <path d="M12 15.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
      <path
        d="M19.4 15a1.7 1.7 0 0 0 .34 1.88l.06.06a2 2 0 1 1-2.83 2.83l-.06-.06a1.7 1.7 0 0 0-1.88-.34 1.7 1.7 0 0 0-1.03 1.56V21a2 2 0 1 1-4 0v-.09a1.7 1.7 0 0 0-1.1-1.55 1.7 1.7 0 0 0-1.88.34l-.06.06a2 2 0 1 1-2.83-2.83l.06-.06A1.7 1.7 0 0 0 4.6 15a1.7 1.7 0 0 0-1.56-1H3a2 2 0 1 1 0-4h.09A1.7 1.7 0 0 0 4.64 8.9a1.7 1.7 0 0 0-.34-1.88l-.06-.06a2 2 0 1 1 2.83-2.83l.06.06A1.7 1.7 0 0 0 9 4.6h.01A1.7 1.7 0 0 0 10 3.05V3a2 2 0 1 1 4 0v.09a1.7 1.7 0 0 0 1.03 1.56 1.7 1.7 0 0 0 1.88-.34l.06-.06a2 2 0 1 1 2.83 2.83l-.06.06a1.7 1.7 0 0 0-.34 1.88v.01A1.7 1.7 0 0 0 20.95 10H21a2 2 0 1 1 0 4h-.09A1.7 1.7 0 0 0 19.4 15z"
      ></path>
    }
    @case ('chevron-up') {
      <path d="m6 15 6-6 6 6"></path>
    }
    @case ('chevron-down') {
      <path d="m6 9 6 6 6-6"></path>
    }
    @case ('shuffle') {
      <path d="M16 3h5v5"></path>
      <path d="M4 20 21 3"></path>
      <path d="M21 16v5h-5M15 15l6 6M4 4l5 5"></path>
    }
    @case ('info') {
      <circle cx="12" cy="12" r="9"></circle>
      <path d="M12 11v6M12 7h.01"></path>
    }
    @case ('close') {
      <path d="M6 6l12 12M18 6 6 18"></path>
    }
    @case ('first') {
      <path d="M6 5v14M18 6l-8 6 8 6z"></path>
    }
    @case ('previous') {
      <path d="m15 18-6-6 6-6"></path>
    }
    @case ('next') {
      <path d="m9 18 6-6-6-6"></path>
    }
    @case ('last') {
      <path d="M18 5v14M6 6l8 6-8 6z"></path>
    }
    @case ('more') {
      <circle cx="5" cy="12" r="1"></circle>
      <circle cx="12" cy="12" r="1"></circle>
      <circle cx="19" cy="12" r="1"></circle>
    }
    @case ('bookmark') {
      <path d="M6 3h12a1 1 0 0 1 1 1v17l-7-4-7 4V4a1 1 0 0 1 1-1z"></path>
    }
    @case ('list') {
      <path d="M9 6h11M9 12h11M9 18h11"></path>
      <circle cx="4.5" cy="6" r=".5"></circle>
      <circle cx="4.5" cy="12" r=".5"></circle>
      <circle cx="4.5" cy="18" r=".5"></circle>
    }
    @case ('rotate') {
      <path d="M20 4v6h-6"></path>
      <path d="M20 10a8 8 0 1 0-.3 5"></path>
    }
    @case ('copy') {
      <rect x="8" y="8" width="12" height="12" rx="2"></rect>
      <path d="M16 8V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2"></path>
    }
    @case ('arrow-left') {
      <path d="M19 12H5M11 18l-6-6 6-6"></path>
    }
    @case ('play') {
      <path d="M8 5v14l11-7z"></path>
    }
    @case ('skip-move') {
      <path d="M5 5v14l10-7zM19 5v14"></path>
    }
    @case ('hint') {
      <path d="M9 18h6M10 22h4"></path>
      <path d="M8.5 14.5A6 6 0 1 1 15.5 14.5C14.5 15.3 14 16 14 18h-4c0-2-.5-2.7-1.5-3.5z"></path>
    }
    @case ('surrender') {
      <path d="M6 21V4M6 5h11l-2 3 2 3H6"></path>
    }
  }
</svg>
